@font-face {
  font-family: 'Avenir Next';
  src: url('../font/Avenir\ Next\ Condensed.ttc');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../font/Avenir.ttc');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../font/Avenir\ Next.ttc');
  font-weight: 600;
  font-style: normal;
}