.movieMatrix-header a{
  cursor: pointer;
  text-decoration: none;
}

.movieMatrix-header i::before{
  inline-size: 24px;
  block-size: 24px;
  box-sizing: border-box;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}




.movieMatrix-header .img-container img{
  vertical-align: middle;
}